header {
  background-color: var(--surface-color);
}

header .navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 1.25rem;

  line-height: 0;
}

header .navMenu ul {
  display: flex;
  align-items: center;
  list-style: none;

  gap: 1.5rem;
}

header .navMenu ul li:first-child i {
  font-size: 24px;

  align-self: flex-end;
}

header .navMenu ul li:first-child a:hover {
  text-decoration: none;
}

header .navMenu ul li img {
  width: 40px;
}

header .about {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 2rem;

  font: var(--text-md);
}

header .about .profile {
  display: flex;
  align-items: center;

  gap: 2rem;
}

header .about .profile div {
  max-width: 384px;
}

header .about .profile div h1 {
  margin-bottom: .5rem;

  font: var(--text-lg);

  color: var(--text-color-primary);
}

header .about .info {
  display: flex;
  flex-direction: column;
  list-style: none;

  width: 280px;
  gap: 1rem;
}

header .about .info li {
  display: flex;
  align-items: center;

  gap: .5rem;
}

header .about .info i {
  font-size: 24px;

  color: var(--brand-color);
}