main {
  background-color: var(--surface-color);
}

main .about {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 2rem;
}

main .profile {
  display: flex;
  align-items: center;

  gap: 2rem;
}

main .profile div {
  max-width: 384px;
}

main .profile div h1 {
  margin-bottom: .5rem;

  font: var(--text-lg);

  color: var(--text-color-primary);
}

main .profile div p {
  font: var(--text-md);
}

main .info {
  display: flex;
  flex-direction: column;
  list-style: none;

  width: 280px;
  gap: 1rem;
}

main .info li {
  display: flex;
  align-items: center;

  gap: .5rem;
}

main .info i {
  font-size: 24px;

  color: var(--brand-color);
}