main .photoGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-block: 1.5rem;
  gap: 1.5rem;

  background-color: var(--background-color);
}

main .photoGallery img {
  max-width: 286px;

  object-fit: cover;
}